<!-- HomePageComponent -->
<div class="container-fluid wrapper">
    <div class="row d-flex flex-wrap text-center">
        <div class="col">
            <div> <!-- typewriter text-primary -->
                <h1 class="mb-1">Collectors</h1>
                <h2 class="mb-5">Your vinyls, your music, your collection</h2>
            </div>
            <div class="vinyl-rack align-items-center">
                <p>
                    <span class="color1">l</span>
                    <span class="color2">l</span>
                    <span class="color3">l</span>
                    <span class="color4">l</span>
                    <span class="color5">l</span>
                    <span class="color6">l</span>
                    <span class="color7">l</span>
                    <span class="color8">l</span>
                    <span class="color9">l</span>
                    <span class="color10">l</span>
                    <span class="color11">l</span>
                    <span class="color1">l</span>
                    <span class="color2">l</span>
                    <span class="color3">l</span>
                    <span class="color4">l</span>
                    <span class="color5">l</span>
                    <span class="color6">l</span>
                    <span class="color12"><i>l</i></span>
                    <span class="color13"><i>l</i></span>
                    <span class="color14"><i>l</i></span>
                    <span class="color15 me-1"><i>l</i></span>
                    <span class="color1">l</span>
                    <span class="color2">l</span>
                    <span class="color3">l</span>
                    <span class="color4">l</span>
                    <span class="color5">l</span>
                    <span class="color6">l</span>
                    <span class="color7">l</span>
                    <span class="color8">l</span>
                    <span class="color9">l</span>
                    <span class="color10">l</span>
                    <span class="color11">l</span>
                    <span class="color1">l</span>
                    <span class="color2">l</span>
                    <span class="color3">l</span>
                    <span class="color4">l</span>
                    <span class="color5">l</span>
                </p>
            </div>
            
            
            <h6 class="my-5"><i>Welcome to Collectors! <br> Start building your digital vinyl collection today</i></h6>
        
            <a class="btn btn-primary mt-3" routerLink="/login">LogIn</a>
        </div>

</div>
